Repository lab-brussels-1/loruki-group-2, pull requests merged in 2022-04, with the labels that each got.

#44 adding info to backlog
  planning/backlog.md
Labels: planning, updating

#40 cloud section added
  .DS_Store
  assets/.DS_Store
  assets/cloud.gif
  index.html
  planning/assets/.DS_Store
  styles/index.css
Labels: html, css

#51 resizing cloud image
  index.html
  styles/index.css
Labels: html, css, updating

#52 footer updated
  index.html
  styles/index.css
Labels: html, css

#35 stats section added
  index.html
  styles/index.css
Labels: html, css

#54 added retrospective
  planning/retrospective.md
Labels: retrospective

#56 relative path of images updated
  index.html
Labels: html
